.p {
  &-0 {
    padding: 0px !important;
  }
  &-5 {
    padding: 5px !important;
  }
  &-10 {
    padding: 10px !important;
  }
  &-15 {
    padding: 15px !important;
  }
  &-20 {
    padding: 20px !important;
  }
  &t {
    &-0 {
      padding-top: 0px !important;
    }
    &-5 {
      padding-top: 5px !important;
    }
    &-10 {
      padding-top: 10px !important;
    }
    &-15 {
      padding-top: 15px !important;
    }
    &-20 {
      padding-top: 20px !important;
    }
  }
  &b {
    &-0 {
      padding-bottom: 0px !important;
    }
    &-5 {
      padding-bottom: 5px !important;
    }
    &-10 {
      padding-bottom: 10px !important;
    }
    &-15 {
      padding-bottom: 15px !important;
    }
    &-20 {
      padding-bottom: 20px !important;
    }
  }
  &l {
    &-0 {
      padding-left: 0px !important;
    }
    &-5 {
      padding-left: 5px !important;
    }
    &-10 {
      padding-left: 10px !important;
    }
    &-15 {
      padding-left: 15px !important;
    }
    &-20 {
      padding-left: 20px !important;
    }
  }
  &r {
    &-0 {
      padding-right: 0px !important;
    }
    &-5 {
      padding-right: 5px !important;
    }
    &-10 {
      padding-right: 10px !important;
    }
    &-15 {
      padding-right: 15px !important;
    }
    &-20 {
      padding-right: 20px !important;
    }
  }
}

.m {
  &-0 {
    margin: 0px !important;
  }
  &-5 {
    margin: 5px !important;
  }
  &-10 {
    padding: 10px !important;
  }
  &-15 {
    margin: 15px !important;
  }
  &-20 {
    padding: 20px !important;
  }
  &t {
    &-0 {
      margin-top: 0px !important;
    }
    &-5 {
      margin-top: 5px !important;
    }
    &-10 {
      margin-top: 10px !important;
    }
    &-15 {
      margin-top: 15px !important;
    }
    &-16 {
      margin-top: 16px !important;
    }
    &-20 {
      margin-top: 20px !important;
    }
    &-34 {
      margin-top: 34px !important;
    }
  }
  &b {
    &-0 {
      margin-bottom: 0px !important;
    }
    &-5 {
      margin-bottom: 5px !important;
    }
    &-8 {
      margin-bottom: 8px !important;
    }
    &-10 {
      margin-bottom: 10px !important;
    }
    &-15 {
      margin-bottom: 15px !important;
    }
    &-16 {
      margin-bottom: 16px !important;
    }
    &-20 {
      margin-bottom: 20px !important;
    }
    &-24 {
      margin-bottom: 24px !important;
    }
    &-26 {
      margin-bottom: 26px !important;
    }
    &-33 {
      margin-bottom: 33px !important;
    }
  }
  &l {
    &-0 {
      margin-left: 0px !important;
    }
    &-5 {
      margin-left: 5px !important;
    }
    &-8 {
      margin-left: 8px !important;
    }
    &-10 {
      margin-left: 10px !important;
    }
    &-15 {
      margin-left: 15px !important;
    }
    &-20 {
      margin-left: 20px !important;
    }
    &-24 {
      margin-left: 24px !important;
    }
  }
  &r {
    &-0 {
      margin-right: 0px !important;
    }
    &-5 {
      margin-right: 5px !important;
    }
    &-10 {
      margin-right: 10px !important;
    }
    &-15 {
      margin-right: 15px !important;
    }
    &-20 {
      margin-right: 20px !important;
    }
  }
}
