.slider-item {
  box-shadow: 0px 12px 18px rgba(23, 23, 37, 0.04);
  width: fit-content;
  border-radius: 4px;
  width: 200px;
  height: 100%;

  &-content {
    padding: 16px;
    min-height: 100px;
  }
}
